<mat-card class="example-card">
  <mat-card-content>



<div *ngIf="(authService.user | async)">
 <!--<p> your address is {{ address }}</p> -->
    <p>your uid is {{(authService.user | async)?.uid}}
 </p>
 <!--<ul>
  <item *ngFor = "let item of details" [data] = "item"></item>
</ul> -->
<br>
  

       <p>your payments are:</p>
   <ul>
      <item *ngFor = "let item of items" [data] = "item"></item>
    </ul>
    
  </div>


<form class="example-form" *ngIf="!(authService.user | async)">
  <!-- <h1>Welcome {{ nickname }}!</h1> -->
 <!-- *ngIf="(authService.user | async)"-->


    <div>
        <mat-form-field class="example-form ">
            <input [(ngModel)]="text1" name="text1" matInput placeholder="name of payer" value="">
          </mat-form-field>
        <br>
        <mat-form-field class="example-form ">
            <input [(ngModel)]="text2" name="text2" matInput placeholder="sum of pay" value="">
          </mat-form-field>
          <br>
          <mat-form-field class="example-form ">
            <input [(ngModel)]="text3" name="text3" matInput placeholder="code" value="">
          </mat-form-field>
        <br>
        
            <button mat-raised-button (click) = "addTodo()"> Pay </button>
            <p *ngIf="send">thank you for the payment</p>
       </div>

    
  </form>


</mat-card-content>
</mat-card>
