<li (mouseenter)="showButton()"
(mouseleave)="hideButton()">

<!--<mat-checkbox   [(ngModel)]="checkboxFlag" (change) = "checkChange()"></mat-checkbox>-->

<!--<span *ngIf="!showEditField"(click) = "showEdit()">name of payer :{{text1}} </span> -->
<p> name of payer :{{text1}} ,
sum :{{text2}}


<button *ngIf="showTheButton" mat-raised-button  color="primary" (click)= "showDelete()"> Delete</button> 
<button *ngIf="showDeleteField" mat-raised-button  color="primary" (click) = "delete()"> click to delete</button>
<button *ngIf="showDeleteField" mat-raised-button  color="primary" (click) = "cancel()"> cancel</button>
</p>
 <!--
<mat-form-field *ngIf="showEditField" class="example-form ">
    <input [(ngModel)]="text1" name="text1" matInput >
  </mat-form-field>
  <mat-form-field *ngIf="showEditField" class="example-form ">
        <input [(ngModel)]="text2" name="text2" matInput >
      </mat-form-field>
 
<button *ngIf="showEditField" mat-raised-button  color="primary" (click) = "save()"> save</button>
<button *ngIf="showEditField" mat-raised-button  color="primary" (click) = "cancelEdit()"> cancel</button>-->

 
</li>



